.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.THeader {
  font-style: italic;
}
.Name {
  text-transform: capitalize;
}

.Fail {
  color: #e74c3c;
  font-weight: 500;
}

.topper {
  color: green;
  font-weight: 500;
}

.dialogform {
  position: fixed;
  bottom: 20px;
  right: 5px;
}
