.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.THeader {
  font-style: italic;
}
.Name {
  text-transform: capitalize;
}

.Fail {
  color: #e74c3c !important;
  font-weight: 500 !important;
}

.Topper {
  color: green !important;
  font-weight: 500 !important;
}

.dialogform {
  position: fixed !important;
  bottom: 15px !important;
  right: 15px !important;
}
